@media(max-width: 768px) {

#knight {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

h2 {
    font-size: 45px;
}








}













@media(max-width: 426px) {

	p {
    font-size: 20px!important;
}

.nav {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.racoon{

	width: 250px;
    margin-left: 15%;
}

.SOLULU{
    margin-left: 10%;


}
	.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
}

	.links{

		margin-left: 15%;
	}


P{font-size: 15px;}


.hvr-bounce-to-left{

background-color:#131313;
border-radius: 30px 30px;
font-size: 15px;

}

.logo{

	width: 400px;
}
.hidden-menu a {
    padding: 10px 10px 10px 30px;
    color: #fff;
    font-size: 11px!important;
    display: block;
}


}

@media(max-width: 376px) {

.hidden-menu a {
    padding: 0px 0px 0px 0px!important;
    color: #fff;
    font-size: 18px;
    display: block;
}





ul li {
    list-style: none;
    margin: 0px 10px!important;
    transition: 0.5s;
}


#ROAD{

font-size: 50px;


}
#CON{
font-size: 50px;

}


}


@media(max-width:321px){


	.burger {
    position: relative;
    width: 60px;
    height: 100%;
    right: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: red;
    color: #fff;
    cursor: pointer;
    margin-left: 40%;
}
}